

body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #542110 
}

.image-container.highlighted-image {
    position: relative;
    padding-left: 2rem;  
}

.brand {
    font-family: "Raleway", sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    color: #90350a;
}

.navbar-brand {
    padding-right: 20px;  
    padding-left: 10px;
}

/* custom navbar*/

.custom-navbar-fullwidth {
    padding-left: 0 !important;  
    padding-right: 0 !important;  
    width: 100% !important;  
    background-color: #F1E4C3;
}

.nav-item {
    font-family: "Raleway", sans-serif;
    color: #542110; 
    font-size: 16px;  
}

.navbar-collapse {
    z-index: 100;
    background-color: #F1E4C3;

}

.navbar-nav {
    margin-right: auto;
}

/*.navbar-nav li {
    list-style: none !important;
}*/

/*.nav-item::marker {
    display: none;
}*/

.nav-item {
    list-style-type: none;
}

/*.navbar-nav > .nav-item {
    list-style: none;
}*/

.navbar-brand {
    margin-right: auto;
}

/*.custom-navbar-list {
    list-style: none !important;
}*/


/*.navbar-nav .nav-link {
    margin-right: 10px;  
    color: #542110; 

}*/

.nav-link {
    margin-right: 10px;  
    color: #542110 !important; 

}

.nav-link:hover {
    color:  #90350a !important;
}

#navbarText {
    z-index: 1000;  
}

.dropdown-menu {
    background-color: #F1E4C3;
}

.dropdown-menu .dropdown-item {
    color: #542110;  
    background-color: #F1E4C3;

}

.dropdown-item:hover {
    color:  #90350a !important;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #F1E4C3;
    width: 100%;
}

.main-bg {
    background-color: #FFFFEC;
    width: 100%;
}

.footer {
    padding-left: 0 !important;  
    padding-right: 0 !important;  
}


.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}


.scale {
    width: 100%;
    height: auto;
}

.post-link {
    text-decoration: none;
    color: #542110 ;
}

.custom-icon {
    color:  #542110 !important;  
}

.post-link:hover,
.page-link {
    text-decoration: underline; 
    color: #872302;
}

.post-title {
    margin-top: 2rem; 
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: #7f5040;
}

.category-link {
    text-decoration: none;  
    color: #90350a;  
}

.category-link:hover {
    text-decoration: underline; 
    color: #ef6e43;  
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-custom {
    color: #7f5040;  
    background-color: #FFFFEC;  
    border-color: #7f5040; 
}

.btn-custom:hover {
    background-color: #7f5040;  
    border-color: #7f5040;  
    color:#FFFFEC;
}

.custom-text-color {
    color: #916253e7 !important; 
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}


/*Category list page*/

.category-list-title {
    margin: 10px; 
}

.category-list {
    padding: 2px;
}
.category-item {
    margin: 10px; 
}
.category-link {
    text-decoration: none;
    font-family: "Raleway", sans-serif; ;
    color: #542110;
}
.category-link:hover {
    color: #90350a; 
}
@media screen and (max-width: 315px){
    .brand {
        font-size: 1.1rem;
    }

    .navbar-collapse {
        z-index: 100;
        background-color: #F1E4C3;
    
    }
    
}