{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    {% if is_paginated and page_obj.number == 1 %}
    <!-- Latest Post is Highlighted  -->
    <div class="row align-items-center">
        {% if post_list %}
        <div class="col-md-12 mb-4 highlighted-post px-4">  
            <div class="card">
                <div class="row align-items-center">
                    <div class="col-md-6 px-md-4">  
                        <div class="image-container highlighted-image mb-4">
                        <!--Highlighted post's image here -->
                        {% if "placeholder" in post_list.0.featured_image.url %}
                        <img class="card-img-top img-fluid" src="{% static 'images/default.jpg' %}" alt="placeholder image">
                        {% else %}
                        <img class="card-img-top img-fluid" src="{{ post_list.0.featured_image.url }}" alt="{{ post_list.0.title }}">
                        {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6 px-md-4">  
                        <div class="card-body d-flex flex-column justify-content-center px-4">
                            <!-- Highlighted post's title and excerpt here -->
                            <h2 class="card-title mb-4">
                                <a href="{% url 'post_detail' slug=post_list.0.slug %}" class="post-link">{{ post_list.0.title }}</a>
                            </h2>                           
                            <p class="mb-4">
                                <a href="{% url 'category' post_list.0.category|slugify %}" class="category-link">{{ post_list.0.category }}</a>
                            </p>
                            <p class="card-text">{{ post_list.0.excerpt }}</p>

                            {% if user.is_superuser %}
                            <div class="mt-auto">
                                <a href="{% url 'update_post' slug=post_list.0.slug %}" class="btn btn-secondary btn-sm" style="margin-right: 5px;">Edit</a>
                                <a href="{% url 'delete_post' slug=post_list.0.slug %}" class="btn btn-danger btn-sm">Delete</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <!-- Second Row - Displaying Three Posts -->
    <div class="row">
        {% for post in post_list|slice:"1:4" %}
        <div class="col-md-4 post-column">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="image-container">
                        {% if "placeholder" in post.featured_image.url %}
                        <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="placeholder image">
                        {% else %}
                        <img class="card-img-top" src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                        {% endif %}
                    </div>
                    <a href="{% url 'post_detail' slug=post.slug %}" class="post-link">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <a href="{% url 'category' post.category|slugify %}" class="category-link">{{ post.category }}</a>
                        <p class="card-text">{{ post.excerpt }}</p>
                    </a>
                    {% if user.is_superuser %}
                    <a href="{% url 'update_post' slug=post.slug %}" class="btn btn-secondary">Edit</a>
                    <a href="{% url 'delete_post' slug=post.slug %}" class="btn btn-danger">Delete</a>
                    {% endif %}
                    <hr />
                    <p class="card-text text-muted h6 custom-text-color">{{ post.created_on }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <!-- After first page, it's two rows with three posts each -->
    <div class="row">
        {% for post in post_list %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="image-container">
                        {% if "placeholder" in post.featured_image.url %}
                        <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="placeholder image">
                        {% else %}
                        <img class="card-img-top" src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                        {% endif %}
                    </div>
                    <a href="{% url 'post_detail' slug=post.slug %}" class="post-link">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <a href="{% url 'category' post.category|slugify %}" class="category-link">{{ post.category }}</a>
                        <p class="card-text">{{ post.excerpt }}</p>
                    </a>
                    {% if user.is_superuser %}
                    <a href="{% url 'update_post' slug=post.slug %}" class="btn btn-secondary">Edit</a>
                    <a href="{% url 'delete_post' slug=post.slug %}" class="btn btn-danger">Delete</a>
                    {% endif %}
                    <hr />
                    <p class="card-text text-muted h6 custom-text-color">{{ post.created_on }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <!-- Pagination -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}
